{% load static %}

<html>
<head>
    <title>Mat</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/reg_style.css' %}">

</head>
<body>
<h1 class="h">Register Your Data</h1>
<h4 class="h">Please fill this form to create new account</h4>
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form method="POST">
            {% csrf_token %}
            {{ rform.as_p }}<br>

                <div class="checkbox">
                    <label>
                        <input type="checkbox">By creating accout, You agree <b>Terms and Conditions</b>
                    </label>

                </div>

                <center>
                <input type="submit" value="Submit" class="btn btn-success">
                <input type="reset" value="Reset" class="btn btn-danger">
                </center>
            </form>
        </div>
    </div>
</div>
</body>
</html>