{% extends "base.html" %}
{% load static %}

{% block head %}About US{% endblock %}

<body>
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about_styles.css' %}">
<h1 style="margin-top: 100px">About Organization</h1>

    <h3>1. NarayanaSoft was found in 2000 by Narayana with the aim of software courses.</h3>
    <h3>2. It was started with very less number of students in the year of 2000.</h3>
    <h3>3. NarayanaSoft prepared thousands of software developers.</h3>
    <h3>4. Every software company has our students.</h3>
    <h3>5. We provide all latest courses in the Ameerpet Market.</h3>
    <h3>6. Our students will practice more time in the lab and class rooms.</h3>



{% endblock %}
</body>