{% extends "base.html" %}
{% load static %}

{% block head %}Gallery{% endblock %}

<body>
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/gallery_style.css' %}">
    <h1>Gallery</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/ck1.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 400px">
            </div>
        </div>

        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/ck3.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>
    </div>

<div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/student1.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>

        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/student2.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>
    </div>


<div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/td1.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>

        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/td3.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>
    </div>

<div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/hm1.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>

        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/hm6.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>
    </div>

<div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/pic1.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>

        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/pic9.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>
    </div>

<div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/rk1.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>

        <div class="col-md-6">
            <div class="thumbnail">
             <img src="{% static 'images/rk2.jpg' %}" alt="Arjun pic missed"
               style="width:100%; height: 50%">
            </div>
        </div>
    </div>


</div>




{% endblock %}
</body>