{% extends "base.html" %}
{% load static %}
<html>
    <head>
        <title>Feedbacks</title>
            <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

{% block head %}Services Page{% endblock %}

<body>{% block content %}
<h1 style="margin-top: 100px; text-align: center; color: #f44336">Available Courses are....</h1>
<link rel="stylesheet" type="text/css" href="{% static 'css/services_styles.css' %}">

<table  class="table table-bordered table-striped table-condensed table-responsive">
    <thead>
    <tr>
        <th>Course No</th>
        <th>Course Name</th>
        <th>Course Fee</th>
        <th>Start_Date</th>
        <th>Start_Time</th>
        <th>Dur(in Days)</th>
        <th>Trainer</th>
        <th>Content</th>
    </tr>
    </thead>

    <tbody>
        <tr>
            <td>101</td>
            <td>Python</td>
            <td>2000</td>
            <td>10th Dec</td>
            <td>8.30am</td>
            <td>60</td>
            <td>Narayana</td>
            <td> <a href="{% static 'other files/Python.DOCX' %}" target="_top"> Click here </a></td>
        </tr>

        <tr>
            <td>102</td>
            <td>Django</td>
            <td>2000</td>
            <td>10th Dec</td>
            <td>8.30am</td>
            <td>60</td>
            <td>Narayana</td>
            <td> <a href="{% static 'other files/Python.DOCX' %}" target="_top"> Click here </a></td>
        </tr>

        <tr>
            <td>103</td>
            <td>REST API</td>
            <td>2000</td>
            <td>10th Dec</td>
            <td>8.30am</td>
            <td>30</td>
            <td>Narayana</td>
            <td> <a href="{% static 'other files/Python.DOCX' %}" target="_top"> Click here </a></td>
        </tr>

        <tr>
            <td>104</td>
            <td>MySQL</td>
            <td>2000</td>
            <td>10th Dec</td>
            <td>8.30am</td>
            <td>60</td>
            <td>Narayana</td>
            <td> <a href="{% static 'other files/Python.DOCX' %}" target="_top"> Click here </a></td>
        </tr>

 <tr>
            <td>104</td>
            <td>MySQL</td>
            <td>2000</td>
            <td>10th Dec</td>
            <td>8.30am</td>
            <td>60</td>
            <td>Narayana</td>
            <td> <a href="{% static 'other files/Python.DOCX' %}" target="_top"> Click here </a></td>
        </tr>

 <tr>
            <td>104</td>
            <td>MySQL</td>
            <td>2000</td>
            <td>10th Dec</td>
            <td>8.30am</td>
            <td>60</td>
            <td>Narayana</td>
            <td> <a href="{% static 'other files/Python.DOCX' %}" target="_top"> Click here </a></td>
        </tr>

 <tr>
            <td>104</td>
            <td>MySQL</td>
            <td>2000</td>
            <td>10th Dec</td>
            <td>8.30am</td>
            <td>60</td>
            <td>Narayana</td>
            <td> <a href="{% static 'other files/Python.DOCX' %}" target="_top"> Click here </a></td>
        </tr>

 <tr>
            <td>104</td>
            <td>MySQL</td>
            <td>2000</td>
            <td>10th Dec</td>
            <td>8.30am</td>
            <td>60</td>
            <td>Narayana</td>
            <td> <a href="{% static 'other files/Python.DOCX' %}" target="_top"> Click here </a></td>
        </tr>

 <tr>
            <td>104</td>
            <td>MySQL</td>
            <td>2000</td>
            <td>10th Dec</td>
            <td>8.30am</td>
            <td>60</td>
            <td>Narayana</td>
            <td> <a href="{% static 'other files/Python.DOCX' %}" target="_top"> Click here </a></td>
        </tr>



    </tbody>

</table>




{% endblock %}
</body>
</html>