*{
        margin: 0;
        padding: 0;
    }
body{
    background: url("https://image.freepik.com/free-photo/beautiful-blue-sea-and-sky_1232-2785.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    color:black;
    margin-top: 50px;
}

.tt{
    background-color: #4caf50;
    font-size: 20px;
}
