*{
        margin: 0;
        padding: 0;
    }

body{
    background: url("https://image.freepik.com/free-photo/beautiful-blue-sea-and-sky_1232-2785.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

th,td{
    padding: 10px 20px 10px 20px;
}
thead {
    background: burlywood;
    color: red;
    font-size: 20px;
    font-family: cursive;
}